<% include partials/header %>
<a href="https://github.com/trigex/vidbytez/"><h1 class="pg_hd">Open Source</h1></a>
<div class="vc_r" style="margin-bottom:0">
Hey gamers, did you know? Vidbytez is open source!!! I mean, I would hope you'd know, that's kinda the whole point of it. But, yeah, open source!!
Would you like to contribute to Vidbytez? Well, you best know your away around the worst language of our modern time, JavaScript. But, yeah, throw a pull request
my way and if it's any good I'll probably accept it.
<% include partials/footer %>