<!-- Again, make dynamic fuckhead -->

<div class="wdg" id="ft_widget">
    <div style="background:#dae9fe">
        <a href="/special_videos?c=0&amp;t=v"><img src="https://i.r.worldssl.net/img/ft.png" alt="Featured Videos"><span>Featured Videos</span></a>
        <div class="wdg_sel">
                    </div>
    </div>
    <div>
        <div class="v_v_bx">
                            <div>
                    <div class="th">
                        <div class="th_t">2:59</div>
                        <a href="/watch?v=rndP2IIYkAa"><img class="vid_th" src="/usfi/thmp/rndP2IIYkAa.jpg" alt="History of VidLii's UI in 3 Minutes (If You Knew Nothing About It)" title="History of VidLii's UI in 3 Minutes (If You Knew Nothing About It)" width="140" height="88"></a>
                    </div>
                    <a href="/watch?v=rndP2IIYkAa" class="ba">History of VidLii's UI in 3 Minutes (If You Knew Nothing About It)</a>
                    <div class="vw s">402 views</div>
                    <a href="/user/KnotSnappy" class="ch_l s">KnotSnappy</a>
                    <div class="s_r"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="13"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="13"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="13"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="13"><img src="https://i.r.worldssl.net/img/full_star.png" width="14" height="13"></div>
                </div>
        </div>
    </div>
</div>