<div class="cl"></div>
</main>
<div class="cl"></div>
<% include footer_bar %>
</div>
<!-- Script here -->
<script src="/js/underscore.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.rateyo.min.js"></script>
<script src="/js/noty.min.js"></script>
<script src="/js/vidbytez.js"></script>
</body>
</html>