<div class="whats_new">
    <strong>What's New?</strong>
    </br>
    we /vidbytez/ now
    </br>
    Features will keep rolling out over time, watch out for that!
    <strong>What's on the chopping block?</strong>
    A user channel page (We'll start out with the original layout, add cosmic cuttlewhatever the fuck as we go),
    video ratings, comment ratings, account settings, video editing away from the uploader, thumbnails, etc etc
    fuck you
</div>