<!-- Grab user subs and apply -->

<div class="wdg" id="sub_widget">
    <div>
        <a href="/my_subscriptions"><img src="https://i.r.worldssl.net/img/sub.png" alt="Subscriptions"><span>Subscriptions</span></a>
        <div class="wdg_sel">
        </div>
    </div>
    <div>
        <div class="v_v_bx">
            <div>
                <div class="th">
                    <div class="th_t">2:12</div>
                    <a href="/watch?v=WjkjgWSF5fc"><img class="vid_th" src="/usfi/thmp/WjkjgWSF5fc.jpg" alt="Metro3ds gets demonetized"
                            title="Metro3ds gets demonetized" width="140" height="88"></a>
                </div>
                <a href="/watch?v=WjkjgWSF5fc" class="ba">Metro3ds gets demonetized</a>
                <div class="vw s">19 hours ago</div>
                <div class="vw s">98 views</div>
                <a href="/user/Metro3ds2" class="ch_l s">Metro3ds2</a>
                <div class="s_r"><img src='https://i.r.worldssl.net/img/full_star.png' width='14' height='13'><img
                        src='https://i.r.worldssl.net/img/full_star.png' width='14' height='13'><img src='https://i.r.worldssl.net/img/full_star.png'
                        width='14' height='13'><img src='https://i.r.worldssl.net/img/full_star.png' width='14'
                        height='13'><img src='https://i.r.worldssl.net/img/full_star.png' width='14' height='13'></div>
            </div>
        </div>
    </div>
</div>